// !!!
// WARNING: do not directly import this file, instead import the 
//          version in your theme's directory, 
//          for example alta/widgets/_oj.alta.grid.scss
// !!!

@import "../../utilities/oj.utilities";

$includeGridClasses: $includeAllClasses !default;

@if $includeGridClasses != false {
  @include exports("common.grid") {

    /* Grid HTML Classes */
    .oj-row {
      @include oj-float-grid-row;
      
      > .oj-col > .oj-row { 
        @include oj-float-grid-row($behavior:nest);
      }
    }


    .oj-col { 
      @include oj-float-grid-column($columns:$gridTotalColumns, 
                                    $float: true, 
                                    $padding: true); 

      position: relative; 
      @include oj-box-sizing-property(border-box);

      // if dir is null we need to support both directions in the same file,
      // so override the default with the rtl specific value
      @if ($textDirection == null)
      {
        @include oj-rtl()
        { 
          //todo: rtl
          float:right;
        }
      }
    }


    .oj-row.oj-cols-nopad > .oj-col,
    .oj-cols-nopad > .oj-row > .oj-col {
         @include oj-float-grid-column($padding: 0);
    }

    // Media query classes

    //UP
    @if $responsiveQuerySmallUp {
      @media #{$responsiveQuerySmallUp} {

        @include oj-float-grid-responsive($selectorPrefix: "oj-sm", $generateOffsets: false);
      }
    }

    @if $responsiveQueryMediumUp {
      @media  #{$responsiveQueryMediumUp} {
        @include oj-float-grid-responsive($selectorPrefix: "oj-md");
      }
    }

    @if $responsiveQueryLargeUp {
      @media  #{$responsiveQueryLargeUp} {
        @include oj-float-grid-responsive($selectorPrefix: "oj-lg");

      }
    }

    @if $responsiveQueryXlargeUp {
      @media  #{$responsiveQueryXlargeUp} {
        @include oj-float-grid-responsive($selectorPrefix: "oj-xl");

      }
    }
    
    @if $responsiveQueryPrint {
      @media  #{$responsiveQueryPrint} {
        @include oj-float-grid-responsive($selectorPrefix: "oj-print");
      }
    }



    //ONLY
    @if $responsiveQuerySmallOnly {
      @media #{$responsiveQuerySmallOnly} {
        // only generate centering classes
        @include oj-float-grid-responsive($selectorPrefix:            "oj-sm-only",
                                          $generateCentering:          $gridGenerateCentering,
                                          $generateBasics:             false, 
                                          $generateOffsets:            false, 
                                          $generateOddEven:            false,
                                          $generateDeprecatedOrdering: false); 
      }
    }

    @if $responsiveQueryMediumOnly {
      @media #{$responsiveQueryMediumOnly} {
        // only generate centering classes
        @include oj-float-grid-responsive($selectorPrefix:            "oj-md-only",
                                          $generateCentering:          $gridGenerateCentering,
                                          $generateBasics:             false, 
                                          $generateOffsets:            false, 
                                          $generateOddEven:            false,
                                          $generateDeprecatedOrdering: false); 
      }
    }

    @if $responsiveQueryLargeOnly {
      @media #{$responsiveQueryLargeOnly} {
        // only generate centering classes
        @include oj-float-grid-responsive($selectorPrefix:            "oj-lg-only",
                                          $generateCentering:          $gridGenerateCentering,
                                          $generateBasics:             false, 
                                          $generateOffsets:            false, 
                                          $generateOddEven:            false,
                                          $generateDeprecatedOrdering: false); 
      }
    }


  }
}