@import "../../utilities/oj.utilities";

$includeButtonClasses:  $includeAllClasses !default;

@if $includeButtonClasses != false {
  $includeIconClasses: true !global;
}

@import "../../common/helpers/oj.common.helpers";
@import "oj.alta.icons";



@import "../../common/widgets/oj.common.button"; 

@if $includeButtonClasses != false {
  @include exports("button") {


    /* menu buttons */

    .oj-button-menu-dropdown-icon {
        font-size: 0.75em; // is 9px.  
        margin-bottom: 1px; // use px like the icon-end margin-bottom it overrides
    }

    .oj-button-menu-dropdown-icon:before {
      @extend .oj-fwk-icon-arrow02-s:before; // icon font
    }
    
  }
}
