@import "../../utilities/oj.utilities";

$includeIconClasses: $includeAllClasses !default;

// files with "core" in the name have 
// selectors that may be used by multiple widgets.

@import "../../common/widgets/oj.common.core.icons"; 

@if $includeIconClasses != false {
  @include exports("icons") {

    .oj-fwk-icon {
      @include oj-icon-base(                         
           $height: 16px,                                               
           $width:  16px);  
    }

    .oj-fwk-icon:before {
      content: oj-image-url("ui-icons_222222_256x240.png");  
    }                                     
     
    .oj-widget-icon {
      @extend .oj-fwk-icon;
    }    

    .oj-enabled .oj-fwk-icon, 
    .oj-enabled.oj-fwk-icon,
    a.oj-fwk-icon, 
    a .oj-fwk-icon {
      @include oj-icon-content(
         $icon: oj-image-url("ui-icons_888888_256x240.png"));
    }

    .oj-hover .oj-fwk-icon, 
    .oj-hover.oj-fwk-icon,
    .oj-focus .oj-fwk-icon,
    .oj-focus.oj-fwk-icon,
    a:hover.oj-fwk-icon, 
    a:hover .oj-fwk-icon {
       @include oj-icon-content(
           $icon: oj-image-url("ui-icons_454545_256x240.png"));
    }

    .oj-active .oj-fwk-icon, 
    .oj-active.oj-fwk-icon,
    .oj-checked .oj-fwk-icon,  
    .oj-checked.oj-fwk-icon,
    a:active.oj-fwk-icon, 
    a:active .oj-fwk-icon {
     @include oj-icon-content(
         $icon: oj-image-url("ui-icons_454545_256x240.png"));
    }

    // todo: what about disabled

    /* positioning */

    //.oj-fwk-icon-caret-n:before {  } first icon, doesn't need anything
    .oj-fwk-icon-caret-ne:before { margin: 0 0 0 -16px; }
    .oj-fwk-icon-caret-e:before { margin: 0 0 0 -32px; }
    .oj-fwk-icon-caret-se:before { margin: 0 0 0 -48px; }
    .oj-fwk-icon-caret-s:before { margin: 0 0 0 -64px; }
    .oj-fwk-icon-caret-sw:before { margin: 0 0 0 -80px; }
    .oj-fwk-icon-caret-w:before { margin: 0 0 0 -96px; }
    .oj-fwk-icon-caret-nw:before { margin: 0 0 0 -112px; }
    .oj-fwk-icon-caret-2-n-s:before { margin: 0 0 0 -128px; }
    .oj-fwk-icon-caret-2-e-w:before { margin: 0 0 0 -144px; }
    .oj-fwk-icon-arrow-n:before { margin: -16px 0 0 0; }
    .oj-fwk-icon-arrow-ne:before { margin: -16px 0 0 -16px; }
    .oj-fwk-icon-arrow-e:before { margin: -16px 0 0 -32px; }
    .oj-fwk-icon-arrow-se:before { margin: -16px 0 0 -48px; }
    .oj-fwk-icon-arrow-s:before { margin: -16px 0 0 -64px; }
    .oj-fwk-icon-arrow-sw:before { margin: -16px 0 0 -80px; }
    .oj-fwk-icon-arrow-w:before { margin: -16px 0 0 -96px; }
    .oj-fwk-icon-arrow-nw:before { margin: -16px 0 0 -112px; }
    .oj-fwk-icon-arrow-n-s:before { margin: -16px 0 0 -128px; }
    .oj-fwk-icon-arrow-e-w:before { margin: -16px 0 0 -144px; }
    .oj-fwk-icon-arrowthin-n:before { margin: -32px 0 0 0; }
    .oj-fwk-icon-arrowthin-ne:before { margin: -32px 0 0 -16px; }
    .oj-fwk-icon-arrowthin-e:before { margin: -32px 0 0 -32px; }
    .oj-fwk-icon-arrowthin-se:before { margin: -32px 0 0 -48px; }
    .oj-fwk-icon-arrowthin-s:before { margin: -32px 0 0 -64px; }
    .oj-fwk-icon-arrowthin-sw:before { margin: -32px 0 0 -80px; }
    .oj-fwk-icon-arrowthin-w:before { margin: -32px 0 0 -96px; }
    .oj-fwk-icon-arrowthin-nw:before { margin: -32px 0 0 -112px; }
    .oj-fwk-icon-arrowthin-n-s:before { margin: -32px 0 0 -128px; }
    .oj-fwk-icon-arrowthin-ne-sw:before { margin: -32px 0 0 -144px; }
    .oj-fwk-icon-arrowthin-e-w:before { margin: -32px 0 0 -160px; }
    .oj-fwk-icon-arrowthin-se-nw:before { margin: -32px 0 0 -176px; }
    .oj-fwk-icon-arrowthinstop-n:before { margin: -32px 0 0 -192px; }
    .oj-fwk-icon-arrowthinstop-e:before { margin: -32px 0 0 -208px; }
    .oj-fwk-icon-arrowthinstop-s:before { margin: -32px 0 0 -224px; }
    .oj-fwk-icon-arrowthinstop-w:before { margin: -32px 0 0 -240px; }
    .oj-fwk-icon-arrowthick-n:before { margin: -48px 0 0 0; }
    .oj-fwk-icon-arrowthick-ne:before { margin: -48px 0 0 -16px; }
    .oj-fwk-icon-arrowthick-e:before { margin: -48px 0 0 -32px; }
    .oj-fwk-icon-arrowthick-se:before { margin: -48px 0 0 -48px; }
    .oj-fwk-icon-arrowthick-s:before { margin: -48px 0 0 -64px; }
    .oj-fwk-icon-arrowthick-sw:before { margin: -48px 0 0 -80px; }
    .oj-fwk-icon-arrowthick-w:before { margin: -48px 0 0 -96px; }
    .oj-fwk-icon-arrowthick-nw:before { margin: -48px 0 0 -112px; }
    .oj-fwk-icon-arrowthick-n-s:before { margin: -48px 0 0 -128px; }
    .oj-fwk-icon-arrowthick-ne-sw:before { margin: -48px 0 0 -144px; }
    .oj-fwk-icon-arrowthick-e-w:before { margin: -48px 0 0 -160px; }
    .oj-fwk-icon-arrowthick-se-nw:before { margin: -48px 0 0 -176px; }
    .oj-fwk-icon-arrowthickstop-n:before { margin: -48px 0 0 -192px; }
    .oj-fwk-icon-arrowthickstop-e:before { margin: -48px 0 0 -208px; }
    .oj-fwk-icon-arrowthickstop-s:before { margin: -48px 0 0 -224px; }
    .oj-fwk-icon-arrowthickstop-w:before { margin: -48px 0 0 -240px; }
    .oj-fwk-icon-arrowthickreturn-w:before { margin: -64px 0 0 0; }
    .oj-fwk-icon-arrowthickreturn-n:before { margin: -64px 0 0 -16px; }
    .oj-fwk-icon-arrowthickreturn-e:before { margin: -64px 0 0 -32px; }
    .oj-fwk-icon-arrowthickreturn-s:before { margin: -64px 0 0 -48px; }
    .oj-fwk-icon-arrowthinreturn-w:before { margin: -64px 0 0 -64px; }
    .oj-fwk-icon-arrowthinreturn-n:before { margin: -64px 0 0 -80px; }
    .oj-fwk-icon-arrowthinreturn-e:before { margin: -64px 0 0 -96px; }
    .oj-fwk-icon-arrowthinreturn-s:before { margin: -64px 0 0 -112px; }
    .oj-fwk-icon-arrowthinrefresh-w:before { margin: -64px 0 0 -128px; }
    .oj-fwk-icon-arrowthinrefresh-n:before { margin: -64px 0 0 -144px; }
    .oj-fwk-icon-arrowthinrefresh-e:before { margin: -64px 0 0 -160px; }
    .oj-fwk-icon-arrowthinrefresh-s:before { margin: -64px 0 0 -176px; }
    .oj-fwk-icon-arrow-4:before { margin: -80px 0 0 0; }
    .oj-fwk-icon-arrow-4-diag:before { margin: -80px 0 0 -16px; }
    .oj-fwk-icon-extlink:before { margin: -80px 0 0 -32px; }
    .oj-fwk-icon-newwin:before { margin: -80px 0 0 -48px; }
    .oj-fwk-icon-refresh:before { margin: -80px 0 0 -64px; }
    .oj-fwk-icon-shuffle:before { margin: -80px 0 0 -80px; }
    .oj-fwk-icon-transfer-e-w:before { margin: -80px 0 0 -96px; }
    .oj-fwk-icon-transferthick-e-w:before { margin: -80px 0 0 -112px; }
    .oj-fwk-icon-folder-collapsed:before { margin: -96px 0 0 0; }
    .oj-fwk-icon-folder-open:before { margin: -96px 0 0 -16px; } 
    .oj-fwk-icon-document:before { margin: -96px 0 0 -32px; }
    .oj-fwk-icon-document-b:before { margin: -96px 0 0 -48px; }
    .oj-fwk-icon-note:before { margin: -96px 0 0 -64px; }
    .oj-fwk-icon-mail-closed:before { margin: -96px 0 0 -80px; }
    .oj-fwk-icon-mail-open:before { margin: -96px 0 0 -96px; }
    .oj-fwk-icon-suitcase:before { margin: -96px 0 0 -112px; }
    .oj-fwk-icon-comment:before { margin: -96px 0 0 -128px; }
    .oj-fwk-icon-person:before { margin: -96px 0 0 -144px; }
    .oj-fwk-icon-print:before { margin: -96px 0 0 -160px; }
    .oj-fwk-icon-trash:before { margin: -96px 0 0 -176px; }
    .oj-fwk-icon-locked:before { margin: -96px 0 0 -192px; }
    .oj-fwk-icon-unlocked:before { margin: -96px 0 0 -208px; }
    .oj-fwk-icon-bookmark:before { margin: -96px 0 0 -224px; }
    .oj-fwk-icon-tag:before { margin: -96px 0 0 -240px; }
    .oj-fwk-icon-home:before { margin: -112px 0 0 0; }
    .oj-fwk-icon-flag:before { margin: -112px 0 0 -16px; }
    .oj-fwk-icon-calendar:before { margin: -112px 0 0 -32px; }
    .oj-fwk-icon-cart:before { margin: -112px 0 0 -48px; }
    .oj-fwk-icon-pencil:before { margin: -112px 0 0 -64px; }
    .oj-fwk-icon-clock:before { margin: -112px 0 0 -80px; }
    .oj-fwk-icon-disk:before { margin: -112px 0 0 -96px; }
    .oj-fwk-icon-calculator:before { margin: -112px 0 0 -112px; }
    .oj-fwk-icon-zoomin:before { margin: -112px 0 0 -128px; }
    .oj-fwk-icon-zoomout:before { margin: -112px 0 0 -144px; }
    .oj-fwk-icon-magnifier:before { margin: -112px 0 0 -160px; }
    .oj-fwk-icon-wrench:before { margin: -112px 0 0 -176px; }
    .oj-fwk-icon-gear:before { margin: -112px 0 0 -192px; }
    .oj-fwk-icon-heart:before { margin: -112px 0 0 -208px; }
    .oj-fwk-icon-star:before { margin: -112px 0 0 -224px; }
    .oj-fwk-icon-link:before { margin: -112px 0 0 -240px; }
    .oj-fwk-icon-cancel:before { margin: -128px 0 0 0; }
    .oj-fwk-icon-plus:before { margin: -128px 0 0 -16px; }
    .oj-fwk-icon-plusthick:before { margin: -128px 0 0 -32px; }
    .oj-fwk-icon-minus:before { margin: -128px 0 0 -48px; }
    .oj-fwk-icon-minusthick:before { margin: -128px 0 0 -64px; }
    .oj-fwk-icon-cross:before { margin: -128px 0 0 -80px; }
    .oj-fwk-icon-crossthick:before { margin: -128px 0 0 -96px; }
    .oj-fwk-icon-key:before { margin: -128px 0 0 -112px; }
    .oj-fwk-icon-lightbulb:before { margin: -128px 0 0 -128px; }
    .oj-fwk-icon-scissors:before { margin: -128px 0 0 -144px; }
    .oj-fwk-icon-clipboard:before { margin: -128px 0 0 -160px; }
    .oj-fwk-icon-copy:before { margin: -128px 0 0 -176px; }
    .oj-fwk-icon-contact:before { margin: -128px 0 0 -192px; }
    .oj-fwk-icon-image:before { margin: -128px 0 0 -208px; }
    .oj-fwk-icon-video:before { margin: -128px 0 0 -224px; }
    .oj-fwk-icon-script:before { margin: -128px 0 0 -240px; }
    .oj-fwk-icon-alert:before { margin: -144px 0 0 0; }
    .oj-fwk-icon-info:before { margin: -144px 0 0 -16px; }
    .oj-fwk-icon-notice:before { margin: -144px 0 0 -32px; }
    .oj-fwk-icon-help:before { margin: -144px 0 0 -48px; }
    .oj-fwk-icon-check:before { margin: -144px 0 0 -64px; }
    .oj-fwk-icon-bullet:before { margin: -144px 0 0 -80px; }
    .oj-fwk-icon-radio-on:before { margin: -144px 0 0 -96px; }
    .oj-fwk-icon-radio-off:before { margin: -144px 0 0 -112px; }
    .oj-fwk-icon-pin-w:before { margin: -144px 0 0 -128px; }
    .oj-fwk-icon-pin-s:before { margin: -144px 0 0 -144px; }
    .oj-fwk-icon-play:before { margin: -160px 0 0 0; }
    .oj-fwk-icon-pause:before { margin: -160px 0 0 -16px; }
    .oj-fwk-icon-seek-next:before { margin: -160px 0 0 -32px; }
    .oj-fwk-icon-seek-prev:before { margin: -160px 0 0 -48px; }
    .oj-fwk-icon-seek-end:before { margin: -160px 0 0 -64px; }
    .oj-fwk-icon-seek-start:before { margin: -160px 0 0 -80px; }
    .oj-fwk-icon-stop:before { margin: -160px 0 0 -96px; }
    .oj-fwk-icon-eject:before { margin: -160px 0 0 -112px; }
    .oj-fwk-icon-volume-off:before { margin: -160px 0 0 -128px; }
    .oj-fwk-icon-volume-on:before { margin: -160px 0 0 -144px; }
    .oj-fwk-icon-power:before { margin: -176px 0 0 0; }
    .oj-fwk-icon-signal-diag:before { margin: -176px 0 0 -16px; }
    .oj-fwk-icon-signal:before { margin: -176px 0 0 -32px; }
    .oj-fwk-icon-battery-0:before { margin: -176px 0 0 -48px; }
    .oj-fwk-icon-battery-1:before { margin: -176px 0 0 -64px; }
    .oj-fwk-icon-battery-2:before { margin: -176px 0 0 -80px; }
    .oj-fwk-icon-battery-3:before { margin: -176px 0 0 -96px; }
    .oj-fwk-icon-circle-plus:before { margin: -192px 0 0 0; }
    .oj-fwk-icon-circle-minus:before { margin: -192px 0 0 -16px; }
    .oj-fwk-icon-circle-close:before { margin: -192px 0 0 -32px; }
    .oj-fwk-icon-circle-triangle-e:before { margin: -192px 0 0 -48px; }
    .oj-fwk-icon-circle-triangle-s:before { margin: -192px 0 0 -64px; }
    .oj-fwk-icon-circle-triangle-w:before { margin: -192px 0 0 -80px; }
    .oj-fwk-icon-circle-triangle-n:before { margin: -192px 0 0 -96px; }
    .oj-fwk-icon-circle-arrow-e:before { margin: -192px 0 0 -112px; }
    .oj-fwk-icon-circle-arrow-s:before { margin: -192px 0 0 -128px; }
    .oj-fwk-icon-circle-arrow-w:before { margin: -192px 0 0 -144px; }
    .oj-fwk-icon-circle-arrow-n:before { margin: -192px 0 0 -160px; }
    .oj-fwk-icon-circle-zoomin:before { margin: -192px 0 0 -176px; }
    .oj-fwk-icon-circle-zoomout:before { margin: -192px 0 0 -192px; }
    .oj-fwk-icon-circle-check:before { margin: -192px 0 0 -208px; }
    .oj-fwk-icon-circlesmall-plus:before { margin: -208px 0 0 0; }
    .oj-fwk-icon-circlesmall-minus:before { margin: -208px 0 0 -16px; }
    .oj-fwk-icon-circlesmall-close:before { margin: -208px 0 0 -32px; }
    .oj-fwk-icon-squaresmall-plus:before { margin: -208px 0 0 -48px; }
    .oj-fwk-icon-squaresmall-minus:before { margin: -208px 0 0 -64px; }
    .oj-fwk-icon-squaresmall-close:before { margin: -208px 0 0 -80px; }
    .oj-fwk-icon-grip-dotted-vertical:before { margin: -224px 0 0 0; }
    .oj-fwk-icon-grip-dotted-horizontal:before { margin: -224px 0 0 -16px; }
    .oj-fwk-icon-grip-solid-vertical:before { margin: -224px 0 0 -32px; }
    .oj-fwk-icon-grip-solid-horizontal:before { margin: -224px 0 0 -48px; }
    .oj-fwk-icon-gripsmall-diagonal-se:before { margin: -224px 0 0 -64px; }
    .oj-fwk-icon-grip-diagonal-se:before { margin: -224px 0 0 -80px; }




    /* bidi icons */

    .oj-fwk-icon-caret-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-caret-w:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-caret-e:before
      }
    }

    .oj-fwk-icon-caret-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-caret-e:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-caret-w:before
      }
    }

    .oj-fwk-icon-arrow-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrow-w:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrow-e:before
      }
    }

    .oj-fwk-icon-arrow-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrow-e:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrow-w:before
      }
    }

    .oj-fwk-icon-arrow-n-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrow-nw:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrow-ne:before
      }
    }

    .oj-fwk-icon-arrow-n-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrow-ne:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrow-nw:before
      }
    }

    .oj-fwk-icon-arrow-s-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrow-sw:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrow-se:before
      }
    }

    .oj-fwk-icon-arrow-s-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrow-se:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrow-sw:before
      }
    }

    .oj-fwk-icon-arrowthin-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthin-w:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthin-e:before
      }
    }

    .oj-fwk-icon-arrowthin-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthin-e:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthin-w:before
      }
    }


    .oj-fwk-icon-arrowthin-n-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthin-nw:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthin-ne:before
      }
    }

    .oj-fwk-icon-arrowthin-n-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthin-ne:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthin-nw:before
      }
    }

    .oj-fwk-icon-arrowthin-s-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthin-sw:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthin-se:before
      }
    }

    .oj-fwk-icon-arrowthin-s-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthin-se:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthin-sw:before
      }
    }


    .oj-fwk-icon-arrowthick-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthick-w:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthick-e:before
      }
    }

    .oj-fwk-icon-arrowthick-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthick-e:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthick-w:before
      }
    }


    .oj-fwk-icon-arrowthick-n-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthick-nw:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthick-ne:before
      }
    }

    .oj-fwk-icon-arrowthick-n-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthick-ne:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthick-nw:before
      }
    }

    .oj-fwk-icon-arrowthick-s-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthick-sw:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthick-se:before
      }
    }

    .oj-fwk-icon-arrowthick-s-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-arrowthick-se:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-arrowthick-sw:before
      }
    }



    .oj-fwk-icon-circle-triangle-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-circle-triangle-w:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-circle-triangle-e:before
      }
    }

    .oj-fwk-icon-circle-triangle-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-circle-triangle-e:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-circle-triangle-w:before
      }
    }

    .oj-fwk-icon-circle-arrow-start:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-circle-arrow-w:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-circle-arrow-e:before
      }
    }

    .oj-fwk-icon-circle-arrow-end:before {
      @include oj-ltr() {
        @extend .oj-fwk-icon-circle-arrow-e:before
      }
      @include oj-rtl() {
        @extend .oj-fwk-icon-circle-arrow-w:before
      }
    }

  }
}