@import "../../utilities/oj.utilities";

$includeTabsClasses: $includeAllClasses !default;

// include dependencies
@if $includeTabsClasses != false {
  $includeIconClasses: true !global;
}

@import "../../common/helpers/oj.common.helpers"; 
@import "oj.jq.icons";

@if $includeTabsClasses != false {
  @include exports("tabs") {


    /* tabs */
    /* --------------------------------------------------------------- */

    .oj-tabs {
      @include ui-widget-content;
      @include ui-corner-all;
    	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
    	padding: .2em;
    }
    .oj-tabs-nav {
      @include ui-widget-header;
      @include ui-corner-all;
    	margin: 0;
    	padding: .2em .2em 0;
    }
    .oj-tabs-nav li {
      @include ui-corner-top;
    	list-style: none;
    	float: left;
    	position: relative;
    	top: 0;
    	margin: 1px .2em 0 0;
    	border-bottom: 0;
    	padding: 0;
    	white-space: nowrap;
    }
    .oj-tabs-nav li a {
    	float: left;
    	padding: .5em 1em;
    	text-decoration: none;
    }
    .oj-tabs-nav li.oj-tabs-active {
    	margin-bottom: -1px;
    	padding-bottom: 1px;
    }

    .oj-tabs-nav li.oj-enabled {
      @include ui-state-default;
      border-bottom: 0;
    }

    .oj-tabs-nav li.oj-hover {
      @include ui-state-hover;
      border-bottom:0;
    }

    .oj-tabs-nav li.oj-tabs-active {
      @include ui-state-active;
      border-bottom:0;
    }

    .oj-tabs-nav li.oj-enabled a {
      @include ui-state-default-link;
    }

    .oj-tabs-nav li.oj-hover a {
      @include ui-state-hover-link;
    }

    .oj-tabs-nav li.oj-tabs-active a{
      @include ui-state-active-link;
    }

    .oj-tabs-nav li.oj-tabs-active a,
    .oj-tabs-nav li.oj-disabled a {
    	cursor: text;
    }
    .oj-tabs-nav li a {
    /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
    	cursor: pointer;
    }
    .oj-tabs-panel {
    	display: block;
    	border-width: 0;
    	padding: 1em 1.4em;
    	background: none;
    }
  }
}