/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-4-9, 14:04:50
    Author     : danfjian
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-4-4, 10:51:17
    Author     : danfjian
*/
.ui-slider {
  position: relative;
  text-align: left; }

.ui-slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default; }

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background-position: 0 0; }

/* For IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
  filter: inherit; }

.ui-slider-horizontal {
  height: .8em; }

.ui-slider-horizontal .ui-slider-handle {
  top: -.3em;
  margin-left: -.6em; }

.ui-slider-horizontal .ui-slider-range {
  top: 0;
  height: 100%; }

.ui-slider-horizontal .ui-slider-range-min {
  left: 0; }

.ui-slider-horizontal .ui-slider-range-max {
  right: 0; }

/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget-content {
  border: 1px solid #aaaaaa;
  background: #ffffff 50% 50% repeat-x;
  color: #222222; }

.ui-widget-content a {
  color: #222222; }

.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc 50% 50% repeat-x;
  color: #222222;
  font-weight: bold; }

.ui-widget-header a {
  color: #222222; }

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6 50% 50% repeat-x;
  font-weight: normal;
  color: #555555; }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #555555;
  text-decoration: none; }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background: #dadada 50% 50% repeat-x;
  font-weight: normal;
  color: #212121; }

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #212121;
  text-decoration: none; }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #aaaaaa;
  background: white 50% 50% repeat-x;
  font-weight: normal;
  color: #212121; }

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #212121;
  text-decoration: none; }

.splitter-bar, .scale-bar {
  position: relative;
  height: 10px; }

.splitter-bar span {
  position: absolute;
  width: 1px;
  height: 10px;
  border-left: 1px solid #cccccc; }

.scale-bar span {
  position: absolute; }

.total-start-selector input, .total-end-selector input {
  width: 58px; }

.total-start-selector > div, .total-end-selector > div {
  width: auto;
  min-width: initial; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-3-27, 16:12:37
    Author     : danfjian
*/
.rollup-main ul {
  padding-left: 10px; }
  .rollup-main ul li {
    list-style: none;
    line-height: 20px; }
    .rollup-main ul li .rollup-link {
      display: inline-block;
      height: 16px;
      width: 16px;
      vertical-align: middle;
      background: url("/analytics/images/sortnumberascending_ena.png") no-repeat;
      cursor: pointer; }
    .rollup-main ul li a {
      cursor: pointer; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-4-8, 14:23:06
    Author     : danfjian
*/
.timeseries-tool .main .rollup-table {
  height: 100%;
  width: 19%;
  float: left;
  overflow: hidden;
  display: none; }
.timeseries-tool .main .rollup-table-enabled {
  display: block; }
.timeseries-tool .main .chart {
  height: 100%;
  width: 99%;
  float: left; }
.timeseries-tool .main .chart-rollup-enabled {
  width: 80%; }

/*# sourceMappingURL=analytics-all.css.map */
