/* 
    Document   : pivot
    Created on : 2014-3-10, 17:01:48
    Author     : danfjian
    Description:
        Purpose of the stylesheet follows.
*/
.pivot-table {
    border-width: 1px;
    border-style: solid;
    border-color: #D6DFE6;
    border-bottom: none;
    border-right: none;
    background-color: rgb(240, 244, 250);
    table-layout: fixed;
    position: relative;
    font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.pivot-table th, .pivot-table td{
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-left: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.pivot-corner {
    border-color: #D6DFE6;
    background-color: #F7F9FC;
}

.pivot-cell {
    border-color: #D6DFE6;
    background-color: white;
}

.pivot-horizontal-header, .pivot-vertical-header {
    border-color: #D6DFE6;
    background-color: rgb(242, 244, 247);
}

.pivot-table tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.pivot-table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#draggableHeader {
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.2);
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: move;
}

#dropLine {
    position: absolute;
    display: none;
    background-color: rgba(0,0,0,0.2);
}

.pivot-horizontal-header div {
    min-height: 30px; 
    line-height: 30px;
}
