/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-4-8, 14:23:06
    Author     : danfjian
*/

.timeseries-tool {    
    height: 340px;
    
    .header {
        .aggregation-selector {
            float: right;
            margin-top: 5px;
            margin-right: 20px;
            width: 250px;
        }
    }

    .main {
        height: 300px;

        .rollup-table {
            height: 100%;
            width: 19%;
            float: left;
            overflow: hidden;
            display: none;
        }
        
        .rollup-table-enabled {
            display:block
        }

        .chart {
            width: 99%;
            float: left;
            height: 300px;
        }

        .chart-rollup-enabled {
            width: 80%
        }
    }
}