@import "../../utilities/oj.utilities";


@if $includeSunburstClasses != false {
  @include exports("common.sunburst") {

    .oj-sunburst {
      border-style: none; 
      border-width: 1px; 
      border-color: #000000;
      width:400px;
      height:400px;
      font-size: 11px;
      color: $textColor;
    }

    .oj-sunburst-expand-icon {
      content: url("../common/images/dvt/sunburst/node_expand.png");
    }

    .oj-sunburst-collapse-icon {
      content: url("../common/images/dvt/sunburst/node_collapse.png");
    }

    .oj-sunburst-expand-icon.oj-hover {
      content: url("../common/images/dvt/sunburst/node_expand_ovr.png");
    }

    .oj-sunburst-collapse-icon.oj-hover {
      content: url("../common/images/dvt/sunburst/node_collapse_ovr.png");
    }

    .oj-sunburst-expand-icon.oj-active {
      content: url("../common/images/dvt/sunburst/node_expand_ovr.png");
    }

    .oj-sunburst-collapse-icon.oj-active {
      content: url("../common/images/dvt/sunburst/node_collapse_ovr.png");
    }

    .oj-sunburst-attribute-type-text {
      font-weight: bold;
      color: $formControlLabelColor;
      font-size: $fontSize;
    }
    
    .oj-sunburst-attribute-value-text { 
      font-size: $fontSize;
    }

    .oj-sunburst-current-text { 
      color: $textColor;
      font-size: $fontSize;
    }

    .oj-sunburst-node {
      font-family: $fontFamily;
    }

    .oj-sunburst-node.oj-hover {
      border-color: $dvtSunburstNodeBorderColorHover;
    }

    .oj-sunburst-node.oj-selected {
      border-top-color:$dvtBorder2Color;
      border-bottom-color: $dvtBorderColor;
    }
  }
}