@import "../../utilities/oj.utilities";


// form controls
//----------------------------------

@mixin oj-form-control-content {       
    color: $formControlValueColor; 
    background-color: $formControlBgColor; 
    border: $formControlBorderWidth solid $formControlBorderColor;
    @include oj-border-radius($formControlBorderRadius) {
      border-radius: $formControlBorderRadius;
    }
}

@mixin oj-form-control-content-disabled {
    color: $formControlValueColorDisabled;
    background-color: $formControlBgColorDisabled;
    border: $formControlBorderWidthDisabled solid $formControlBorderColorDisabled;
    opacity: $formControlOpacityDisabled;
}

@mixin oj-form-control-content-readonly {
    color: $formControlValueColorReadOnly;
    background-color: $formControlBgColorReadOnly;
    border: $formControlBorderWidthReadOnly;
}
