// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// WARNING: do not directly import this file, instead import the 
//          version in your base theme's directory, 
//          for example alta/widgets/_oj.alta.formcontrol.common.scss
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@import "../../utilities/oj.utilities";


@if $includeFormControlCommonClasses != false {
  @include exports("common.formcontrolcommon") {

    /* form-control classes */
    /* --------------------------------------------------------------- */
    
    // bumping up the specificity with the html because 
    // when $normalize is false (compatibility mode) the input will get 
    // a margin of 0 which would override the margin set here
    html .oj-form-control {
      margin-bottom: $wrappableMarginBottom;
      vertical-align: middle;
    }

    .oj-form-control-hint {
      color: $textColor;
      // todo: why is this tied to the label?
      font-weight: $formControlLabelFontWeight;
      margin-bottom: 7px;
      margin-top: 7px;
      padding: 0;
      word-wrap: break-word;  
    };

    .oj-form-control-title {
      color: $textColor;
    }
  }
}

