@import "../../utilities/oj.utilities";
@import "../../common/widgets/oj.common.formcontrol.mixins";
  

$includeSelectClasses:   $includeFormControlClasses !default;

// include dependencies
@if $includeSelectClasses != false {
  $includeIconClasses:              true !global;
  $includeNoteWindowClasses:        true !global;
  $includeLabelClasses:             true !global;
  $includeMessagingClasses:         true !global;
  $includeFormControlCommonClasses: true !global;
}

@import "../../common/helpers/oj.common.helpers"; 
@import "oj.alta.icons";
@import "oj.alta.tooltip";
@import "oj.alta.messaging";
@import "oj.alta.formcontrol.label";
@import "oj.alta.formcontrol.common";

@if $includeSelectClasses != false {
  @include exports("select") {

    /* select */
    /* --------------------------------------------------------------- */
    
    .oj-select {
      position: relative;
      display: inline-block;
      vertical-align: middle; 
      max-width: $formControlLargeMaxWidth;
      min-width: $formControlMinWidth;
      width: 100%;
    }


    .oj-select,
    .oj-select-drop {
      @include oj-box-sizing-property(border-box); 
    }

    /* songo */
    .oj-select .oj-select-choice {
      @include oj-form-control-content;
      display: block;
      overflow: hidden;
      position: relative;
      white-space: nowrap;
      background-clip: padding-box;
      text-overflow: ellipsis;
      line-height: 26px;

      @include oj-ltr() {
        padding-left: 5px;
      }
      @include oj-rtl() {
        padding-right: 5px;
      }

    }

    .oj-select .oj-select-choice .oj-select-search {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; 
    /* songo */
      @include oj-ltr() {
        margin-right: 5px;
      }
      @include oj-rtl() {
        margin-left: 5px; 
      }
    }
      
    .oj-select .oj-select-choice abbr {
      display: none;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 6px;
      font-size: 1px;
      border: 0;
      cursor: pointer;
      outline: 0; 
      @include oj-ltr() {
        right: 34px;
      }
      @include oj-rtl() {
        left: 34px; 
      }
    }

    .oj-select .oj-select-choice abbr:hover {
      cursor: pointer; 
    }

    /* suppress all browser decorations of anchors in the select */
    /* --------------------------------------------------------- */
    .oj-select a,
    .oj-select a:active,
    .oj-select a:visited,
    .oj-select a:hover,
    .oj-select a:focus {
      text-decoration: none;
    }

    .oj-select.oj-select-allowclear .oj-select-choice abbr {
      display: inline-block; 
    }

    .oj-select.oj-select-allowclear .oj-select-choice .oj-select-search {
      @include oj-ltr() {
        margin-right: 42px; 
      }
      @include oj-rtl() {
        margin-left: 42px; 
      }
    }

    .oj-select-drop {
      position: absolute;
      // http://aseng-wiki.us.oracle.com/asengwiki/display/ASDevJDeveloper/JET+Popup+Framework
      z-index: 9999;
      top: 100%;
      background: $background1Color;
      border: $borderWidth solid $windowBorderColor;
      border-top: 0;
/* songo can't use $smallBoxShadow because we need to cover up border-bottom of the select box */
      box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .35);
    }

    .oj-select-drop-auto-width {
      border-top: $borderWidth solid $windowBorderColor;
      width: auto; 
    }

    .oj-select-drop.oj-select-drop-above {
      border-top: $borderWidth solid $windowBorderColor;
      border-bottom: 0;
      box-shadow: $smallBoxShadow;
    }

    /* results */
    .oj-select-results {
      max-height: 200px;
      padding: 0;
      margin: 1px 0 2px 0;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
    }

    .oj-select-results ul.oj-select-result-sub {
      margin: 0;
      padding-left: 0; 
    }

    // todo: there seems to be a lot of hard coded px values. Please try testing your widget in the giant theme
    // Currently you can change the theme on the style lab page (this may move to another location)
    // look for "giant" here:
    // http://slc01hih.us.oracle.com:8080/hudson/job/OJET_Build/lastSuccessfulBuild/artifact/apps/components/public_html/globalStyleLab.html
    .oj-select-results ul.oj-select-result-sub > li .oj-select-result-label {
      padding-left: 20px; 
    }

    .oj-select-results ul.oj-select-result-sub ul.oj-select-result-sub > li .oj-select-result-label {
      padding-left: 40px; 
    }

    .oj-select-results ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub > li .oj-select-result-label {
      padding-left: 60px; 
    }

    .oj-select-results ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub > li .oj-select-result-label {
      padding-left: 80px; 
    }

    .oj-select-results ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub > li .oj-select-result-label {
      padding-left: 100px; 
    }

    .oj-select-results ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub > li .oj-select-result-label {
      padding-left: 110px; 
    }

    .oj-select-results ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub ul.oj-select-result-sub > li .oj-select-result-label {
      padding-left: 120px; 
    }

    .oj-select-results li {
      list-style: none;
      display: list-item;
      background-image: none; 
    }

    // why are you using ">" here, is it needed?
    .oj-select-results li.oj-select-result-with-children > .oj-select-result-label {
      font-weight: bold; 
    }

    // why are you using contextual selectors? Can you remove the ".oj-select-results " 
    // from the front here and just use .oj-select-result-label, 
    // same comment for all css in this file, if you don't need a contextual selector please remove it.
    .oj-select-results .oj-select-result-label {
      padding-left: 5px;
      line-height: 24px;
      margin: 0;
      cursor: pointer;
      min-height: 1em;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; 
    }

    .oj-select-results .oj-select-highlighted {
      background: $interaction2Color;
    }

    .oj-select-results .oj-select-highlighted:active {
      background: $interaction3Color;
    }

    .oj-select-results li em {
      background: #feffde;
      font-style: normal; 
    }

    .oj-select-results .oj-select-highlighted em {
      background: transparent; 
    }

    /*
    disabled look for disabled choices in the results dropdown
    */
    .oj-select-results .oj-disabled {
      color: $textColorDisabled;
      display: list-item;
      cursor: default; 
    }

    .oj-select-results .oj-select-selected {
      display: none; 
    }

    /* disabled styles */
    .oj-select.oj-disabled .oj-select-choice,
    .oj-select.oj-disabled .oj-select-choice input {
      @include oj-form-control-content-disabled;
    }

    /* multiselect */
    .oj-select-multi .oj-select-choices {
      @include oj-box-sizing-property(border-box);
      @include oj-form-control-content;
      height: auto;
      margin: 0;
      padding: 0;
      position: relative;
      cursor: text;
      overflow: hidden;
    }

    .oj-select-locked {
      padding: 3px 5px 3px 5px; 
    }

    .oj-select-multi .oj-select-choices {
      min-height: 26px; 
    }

    .oj-select-multi .oj-select-choices li {
      list-style: none; 
      @include oj-ltr() {
        float: left;
      }
      @include oj-rtl() {
        float: right;
      }   
    }

    .oj-select-multi .oj-select-choices .oj-select-search-field {
      margin: 0;
      padding: 0;
      white-space: nowrap; 
    }

    .oj-select-search-field .oj-select-input {
      padding: 5px;
      margin: 1px 0;
      font-family: $fontFamily;
      font-size: $fontSize;
      color: $textColor;
      background-color: $formControlBgColor;
      outline: 0;
      border: 0; 
    }

    .oj-select-chosen.oj-select-default {
      color: $tertiaryTextColor; 
    }

    .oj-select-multi .oj-select-choices .oj-select-search-choice {
      padding: 3px 18px 3px 5px;
      margin: 3px 0 3px 5px;
      position: relative;
      line-height: 13px;
      color: $textColor;
      cursor: default;
      @include oj-border-radius($mediumBorderRadius);
      background-color: $buttonBgColor;
      @include oj-background-image($buttonBgImage);
      background-clip: padding-box;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; 
    }

    .oj-select-multi .oj-select-choices .oj-select-search-choice .oj-select-chosen {
      cursor: default; 
    }

    .oj-select-multi .oj-select-choices .oj-select-search-choice-focus {
      background: $buttonBgColorHover; 
      color: $buttonTextColorHover;
    }

    .oj-select-search-choice-close {
      display: block;
      width: 12px;
      height: 13px;
      position: absolute;
      top: 3px;
      font-size: 1px;
      outline: none;
      background: url("images/clearEntry_ena.png"); 

      @include oj-ltr() {
        right: 5px;
      }
      @include oj-rtl() {
        left: 5px;
      }   
    }

    .oj-select-search-choice-close:hover {
      background: url("images/clearEntry_ovr.png"); 
    }

    .oj-select-search-choice-close:hover {
      background: url("images/clearEntry_dwn.png"); 
    }

      
    /* disabled styles */
    .oj-select-multi.oj-disabled .oj-select-choices,
    .oj-select-multi.oj-disabled .oj-select-choices .oj-select-search-choice,
    .oj-select-multi.oj-disabled .oj-select-choices input {
      @include oj-form-control-content-disabled;
    }

    .oj-select-multi.oj-disabled .oj-select-choices .oj-select-search-choice .oj-select-search-choice-close {
      display: none;
      background: none; 
    }

    /* end multiselect */

    /* Invalid styling for the widget */
    .oj-select.oj-invalid .oj-select-choice,
    .oj-select-multi.oj-invalid .oj-select-choices {
        border: $formControlMessagingBorderWidth solid $borderColorError;
    }

    /* Warning styling for the widget */
    .oj-select.oj-warning .oj-select-choice,
    .oj-select-multi.oj-warning .oj-select-choices {
        border: $formControlMessagingBorderWidth solid $borderColorWarning;
    }

    .oj-select-offscreen, .oj-select-offscreen:focus {
      clip: rect(0 0 0 0);
      width: 1px;
      height: 1px;
      border: 0;
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: absolute;
      outline: 0;
      left: 0;
      top: 0; 
    }

    .oj-select-drop-mask {
      border: 0;
      margin: 0;
      padding: 0;
      position: fixed;
      left: 0;
      top: 0;
      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;
      opacity: 0;
      z-index: 9998;
      /* styles required for IE to work */
      background-color: $background1Color;
      filter: alpha(opacity=0); 
    }

    .oj-select-display-none {
      display: none; 
    }

    .oj-select-measure-scrollbar {
      position: absolute;
      top: -10000px;
      left: -10000px;
      width: 100px;
      height: 100px;
      overflow: scroll; 
    }


    /* songo */

    .oj-select-chosen {
      width: 100%;
      border: 0;
      box-shadow: none;
      outline: 0;
    }


    /* icon */
    /* -----------------------------*/

    /* open icon for select */
    .oj-select-open-icon:before {
      @extend .oj-fwk-icon-arrow02-s:before;
    }

    .oj-select-open-icon {
      text-align: center;
      vertical-align: middle;
      font-size: $rootFontSize;
      padding: 8px;
      overflow: hidden;
      cursor: pointer;
      position: absolute;

      @include oj-ltr() {
        right: 0;
      }
      @include oj-rtl() {
        left: 0;
      }
    }

    /* search icon for select */
    .oj-select-search-icon:before {
      @extend .oj-fwk-icon-magnifier:before;
    }

    .oj-select-search-icon {
      text-align: center;
      overflow: hidden;
      vertical-align:text-bottom;
      cursor: pointer;
      font-size: 1rem;
      color: $iconColorEnabled;
    }


    .oj-select-search {
      @include oj-box-sizing-property(border-box);
      width: 100%;
      display: inline-table;
      background-color: $background3Color;
      border: $borderWidth solid $border4Color;
      @include oj-border-radius($mediumBorderRadius);
    }

    .oj-select-search .oj-select-input {
      @include oj-box-sizing-property(border-box);
      width: 100%;
      color: $textColor;
      padding: 6px 5px 5px 5px;
      display: table-cell;
      border: 0;
      box-shadow: none;
      outline: 0;
     }

    .oj-select-spyglass-box {
      @include oj-box-sizing-property(border-box);
      background-color: $background1Color;
      display: table-cell;
      line-height: 26px;
      width: 28px;
      text-align: center;
      vertical-align: middle;
      border:0;
      box-shadow: none;
   }

    .oj-select-search-wrapper {
      border: 0;
      padding: 5px;
      background-color: $background3Color;
    }

   .oj-select-no-results {
      @include oj-ltr() {
        padding-left: 5px;
      }
      @include oj-rtl() {
        padding-right: 5px;
      }
   }

  }
}