@import "../../utilities/oj.utilities";

@if $includeTableClasses != false  {
  @include exports("common.table") {

    /* table */
    /* --------------------------------------------------------------- */

    // TODO: need to be moved to variables file?
    // todo: wrong kind of comments around Dimension variables
    /* Dimension variables */
    $colHeaderPaddingTopBottom: 5px !default;
    $colHeaderPaddingLeftRight: 5px !default;

    /* Styling for HTML table element. */
    .oj-table {
       min-height: 300px;
       min-width: 300px;
    }

    /* Styling for the component div container element. */
    .oj-table-container {
       background-color: $background1Color;
       border: $borderWidth solid $dataGridBorderColor;
       position: relative;
       display: inline-block;
    }

    /* Styling for the column header elements. */
    .oj-table-column-header {
       border-right: 1px solid $dataGridBorderColor;
       border-bottom: 1px solid $dataGridBorderColor;
       background-color: $dataGridColumnHeaderBgColor;
       float: none;
       min-height: $dataGridColumnHeaderFontSize;
       padding-top: $colHeaderPaddingTopBottom;
       padding-bottom: $colHeaderPaddingTopBottom;
    }

    /* Cursor for the column headers. */
    .oj-table-column-header-selector {
       cursor: oj-image-url("column-select.cur"), default;
    }

    /* Styling for the column header elements in selected state when table focused. */
    .oj-table.oj-focus .oj-table-column-header.oj-checked {
       background-color: $dataGridColumnHeaderBgColorSelected;
    }

    /* Styling for the column header elements in selected state when table not focused. */
    .oj-table-column-header.oj-checked {
       background-color: $dataGridColumnHeaderBgColorSelectedInactive;
    }

    /* Styling for the column header element in focused state. */
    .oj-table-column-header.oj-focus {
       background-color: $interaction5Color;
    }

    /* Styling for the show required asterix in the column headers. */
    .oj-table-column-header-show-required {
       color: $colorRequired;
       font-size: $dataGridColumnHeaderFontSize;
       font-weight: $dataGridHeaderFontWeight;
       line-height: $dataGridColumnHeaderFontSize;
       cursor: text;

       @include oj-ltr() {    
         margin-right: 4px;
       }

       @include oj-rtl() {    
         margin-left: 4px;
       }
    }



    /* Styling for the column header row element. */
    .oj-table-column-header-row {
      position: relative;
      height: 2 * $fontSize;
      float: left;
      padding-left: $colHeaderPaddingLeftRight;
      padding-right: $colHeaderPaddingLeftRight;
    }

    /* Styling for the column header text. */
    .oj-table-column-header-text {
      position: relative;
      display: table;
      height: inherit;
      font-size: $dataGridColumnHeaderFontSize;
      font-weight: $dataGridHeaderFontWeight;
    }

    /* Styling for the column header sort ascending element. */
    .oj-table-column-header-asc {
      position: absolute;
      top: $colHeaderPaddingTopBottom;
    } 

    /* Styling for the column header sort descending element. */
    .oj-table-column-header-dsc {
      position: absolute; 
      top: $colHeaderPaddingTopBottom;

      @include oj-ltr() {    
        right: $colHeaderPaddingLeftRight;
      }

      @include oj-rtl() {    
        left: $colHeaderPaddingLeftRight;
      }
    }




    .oj-table-column-header-asc-icon,
    .oj-table-column-header-dsc-icon {
      // todo: these seem very small for touch devices
      font-size: 1rem;
      width: 1.34rem;
    } 

    /* Icon for column header sort ascending in enabled state. */
    // We also render oj-clickable-icon on the icon, 
    // so the hover/active/etc colors come from there
    .oj-table-column-header-asc-icon {
      @extend .oj-fwk-icon-arrow-n;
    } 

    /* Icon for column header sort ascending in disabled state. */
    .oj-table-column-header-asc-icon.oj-disabled {
      visibility: hidden;
    } 


    /* Icon for column header sort descending */
    // We also render oj-clickable-icon on the icon, 
    // so the hover/active/etc colors come from there
    .oj-table-column-header-dsc-icon {
      @extend .oj-fwk-icon-arrow-s;
    } 

    /* Icon for column header sort descending in disabled state. */
    .oj-table-column-header-dsc-icon.oj-disabled {
      visibility: hidden;
    } 

    /* Cursor for row selection. */
    .oj-table-body-row-selector {
       @include oj-ltr() {
          cursor: oj-image-url("row-select.cur"), default;
       }
       @include oj-rtl() {
          cursor: oj-image-url("row-select_rtl.cur"), default;
       }
    }

    /* Styling for the data cell elements. */
    .oj-table-data-cell {
       background-color: $dataGridCellBgColor;
       color: $dataGridCellTextColor; 
       height: 2 * $fontSize;
       font-size: $fontSize;
       font-weight: normal;
       min-height: $fontSize;
       min-width: $fontSize;
    }

    /* Styling for the data cell elements in selected state when table focused. */
    .oj-table.oj-focus .oj-table-data-cell.oj-checked {
       background-color: $dataGridCellBgColorSelected;
    }

    /* Styling for the data cell elements in selected state when table not focused. */
    .oj-table-data-cell.oj-checked {
       background-color: $dataGridCellBgColorSelectedInactive;
    }

    /* Styling for the data cell elements in focused state. */
    .oj-table-data-cell.oj-focus {
       background-color: $dataGridCellBgColorFocus;
    }

    /* Styling for the data cell elements in hover state. */
    .oj-table-data-cell.oj-hover {
       background-color: $dataGridCellBgColorHover;
    }

    /* Styling for the vertical grid lines. */
    .oj-table-data-cell-vgrid-lines {
       border-right: 1px solid $dataGridCellBorderColor;
    }

    /* Styling for the horizontal grid lines. */
    .oj-table-data-cell-hgrid-lines {
       border-bottom: 1px solid $dataGridCellBorderColor;
    }

    /* Styling for the status message. */
    // InfoBackground & InfoText are CSS2 system colors
    .oj-table-status-message {
      background-color:InfoBackground;
      color:InfoText;
      border: 1px $border5Color solid;
      padding: $colHeaderPaddingTopBottom;
    } 

    /* Styling for the No Data message. */
    .oj-table-no-data-message {
      color: $textColor;
      padding: $colHeaderPaddingTopBottom;
    } 
  }
}