// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// WARNING: do not directly import this file, instead import the 
//          version in your base theme's directory, 
//          for example alta/widgets/_oj.alta.tree.scss
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@import "../../utilities/oj.utilities";  

@if $includeTreeClasses != false  {
  @include exports("common.tree") {

    /* tree */
    /* --------------------------------------------------------------- */

    .oj-tree-default .oj-tree-list li, 
    .oj-tree-default .oj-tree-list ins {
        background-image: oj-image-url("d.png");
        background-repeat:no-repeat;
        background-color:transparent;
    }
    .oj-tree-default .oj-tree-list li {
        background-position:-90px 0;
        background-repeat:repeat-y;
    }
    .oj-tree-default li.oj-tree-last {
        background:transparent;
    }
    .oj-tree-default .oj-tree-open > ins {
        background-position:-72px 0;
    }
    .oj-tree-default .oj-tree-closed > ins {
        background-position:-54px 0;
    }
    .oj-tree-default .oj-tree-leaf > ins {
        background-position:-36px 0;
    }
    .oj-tree-default .oj-tree-list a {
        font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; color:#145c9e;
    }
    .oj-tree-default .oj-tree-hovered {
       background:#e7f4f9;
       border:1px solid #d8f0fa;
       padding:0 2px 0 1px;
    }
    .oj-tree-default .oj-tree-clicked {
       background:#beebff;
       border:1px solid #99defd;
       padding:0 2px 0 1px;
    }
    .oj-tree-default .oj-tree-list a .oj-tree-icon {
       background-position:-56px -19px;
    }
    .oj-tree-default a.oj-tree-loading .oj-tree-icon {
       background: oj-image-url("ojtreeload.gif") center center no-repeat;
    }
    .oj-tree-default.oj-tree-focused {
       background: transparent;
    }
    .oj-tree-default .oj-tree-no-dots li, 
    .oj-tree-default .oj-tree-no-dots .oj-tree-leaf > ins {
       background:transparent;
    }
    .oj-tree-default .oj-tree-no-dots .oj-tree-open > ins {
       background-position:-18px 0;
    }
    .oj-tree-default .oj-tree-no-dots .oj-tree-closed > ins {
       background-position:0 0;
    }
    .oj-tree-default .oj-tree-no-icons a .oj-tree-icon {
       display:none;
    }
    .oj-tree-default .oj-tree-search {
       font-style:italic;
    }
    .oj-tree-default .oj-tree-no-icons .oj-tree-checkbox {
      display:inline-block;
    }
    .oj-tree-default .oj-tree-no-checkboxes .oj-tree-checkbox {
       display:none
     }
    .oj-tree-default .oj-tree-checked > a > .oj-tree-checkbox {
       background-position:-38px -19px;
    }
    .oj-tree-default .oj-tree-unchecked > a > .oj-tree-checkbox {
       background-position:-2px -19px;
    }
    .oj-tree-default .oj-tree-undetermined > a > .oj-tree-checkbox {
       background-position:-20px -19px;
    }
    .oj-tree-default .oj-tree-checked > a > .oj-tree-checkbox:hover {
       background-position:-38px -37px;
    }
    .oj-tree-default .oj-tree-unchecked > a > .oj-tree-checkbox:hover {
       background-position:-2px -37px;
    }
    .oj-tree-default .oj-tree-undetermined > a > .oj-tree-checkbox:hover {
       background-position:-20px -37px;
    }
    .oj-tree-default a.oj-tree-search {
       color:aqua;
    }
    .oj-tree-default .oj-tree-locked a {
       color:silver;
       cursor:default;
    }

    .ojtreeu-dragged {
         display:block;
         margin:0 0 0 0;
         padding:4px 4px 4px 24px;
         position:absolute;
         top:-2000px;
         line-height:16px;
         z-index:10000;
    }
    .ojtreeu-dragged ins {
          display:block;
          text-decoration:none;
          width:16px;
          height:16px;
          margin:0 0 0 0;
          padding:0;
          position:absolute;
          top:4px; left:4px;
    
          // todo: we have border radius variables
          @include oj-border-radius(4px);
    }
    .ojtreeu-dragged ins.oj-tree-ok {
          background: oj-image-url("d.png") -2px -53px no-repeat;
    }
    .ojtreeu-dragged ins.oj-tree-invalid {
          background: oj-image-url("d.png") -18px -53px no-repeat;
    }
    .oj-tree-marker {
      padding:0;
      margin:0;
      font-size:12px;
      overflow:hidden;
      height:12px;
      width:8px;
      position:absolute;
      top:-30px;
      z-index:10001;
      background-repeat:no-repeat;
      display:none;
      background-color:transparent;
      text-shadow:1px 1px 1px white;
      color:black;
      line-height:10px;
      background:oj-image-url("d.png") -41px -57px no-repeat;
      text-indent:-100px;
    }
    .oj-tree-marker-line {
       padding:0;
       margin:0;
       line-height:0;
       font-size:1px;
       overflow:hidden;
       height:1px;
       width:100px;
       position:absolute;
       top:-30px;
       z-index:10000;
       background-repeat:no-repeat;
       display:none;
       background-color:#456c43;
       cursor:pointer;
       border-left:0;
       -moz-box-shadow:0 0 2px #666;
       -webkit-box-shadow: 0 0 2px #666;
       box-shadow: 0 0 2px #666;
       // todo: we have border radius variables
       @include oj-border-radius(1px);
     }
  }
}