// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// WARNING: do not directly import this file, instead import the 
//          version in your base theme's directory, 
//          for example alta/widgets/_oj.alta.formcontrol.label.scss
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@import "../../utilities/oj.utilities";


@if $includeLabelClasses != false {
  @include exports("common.label") {

    // JET is designed to be mobile first, therefore labels are 
    // top aligned as this should be their position on a mobile device.
    // If the user wants them to be inline, they use the oj-label-inline selector
    // to indicate this.
    // oj-label most likely will be on a div surrounding the help and 
    // required icons as well as the label element. It won't be on the label
    // element itself (the input component wraps the label element and adds
    // oj-label style)
    // If oj-label-inline is set on the label element in the page, 
    // the input component moves it to the label's wrapper dom element.
    // TODO: Have Duncan review the label when it is on top. We had a margin-bottom, but it was too big.
    .oj-label {
        display: block;
        //margin-bottom: $formControlLabelMarginBottom; 

        // the color, size, and font-weight need to go on outer dom 
        // in case you use something like text-overflow: ellipsis,
        // otherwise the ellipsis won't be the same font 
        // color/size/weight as the label text.
        color: $formControlLabelColor;
        font-size: $fontSize;    
        font-weight: $formControlLabelFontWeight;
    }

    /* When label is block, this wrapper is needed in order 
       to float modifiers (required, help, changed) to the end of the label */
    .oj-label-group {
        display: inline-block;
    }

    // There are selectors that set float: none on oj-label-help-icon.
    // (see float:none in _oj.common.formlayout.scss/
    // .#{$selectorPrefix}-label-inline).
    // Since vertical-align is needed when not floating, we put it here by default.
    // It appears to have no effect when floating.
    .oj-label-help-icon {
         vertical-align: middle;
    }

    .oj-label-required-icon:before {
      content: '*';
    }

    // There are selectors that set float: none on oj-label-required-icon.
    // (see float:none in _oj.common.formlayout.scss/
    // .#{$selectorPrefix}-label-inline).
    // Since vertical-align is needed when not floating, we put it here by default.
    // It appears to have no effect when floating.
    .oj-label-required-icon {
         vertical-align: top;
    }
    // JET is designed to be mobile first, therefore by default labels are 
    // top aligned as this should be their position on a mobile device.
    // When labels are on top of the field, the alta spec says the
    // icons (required, help) come after the label. We use float to achieve this.
    .oj-label label {
        @include oj-bidi-property($property: 'float', $startOrEnd: start);
    }

    // JET is designed to be mobile first, therefore by default labels are 
    // top aligned as this should be their position on a mobile device.
    // When labels are on top of the field, the alta spec says the
    // icons (required, help) come after the label. 
    // We use float to position them this way.
    .oj-label-required-icon,
    .oj-label-help-icon {
         @include oj-bidi-property($property: 'float', $startOrEnd: end);
         // need 6px of space between icons and label. if floating
         // end, then that means icons are after label, so we want
         // space on the left in ltr.
         @include oj-ltr {
            margin-left: 6px;
            margin-right: 0;
         }
         @include oj-rtl(){
           margin-right: 6px;
           margin-left: 0;
         }
    }
    // This is for inline labels - labels and input are on the same line
    .oj-label-inline {
        display: inline-block;
        vertical-align: top;
        margin-top: $formControlLabelInlineMarginTop;
        // box sizing required for firefox
        @include oj-box-sizing-property(border-box);

        @include oj-ltr()
        {
          padding-right: $formControlLabelInlineGutter;
        }

        @include oj-rtl()
        {
          padding-left: $formControlLabelInlineGutter;
        }
    }
    // When labels are inline with the field, the alta spec says the
    // icons (required, help) come before the label. 
    // We use float to achieve this. The oj-label-inline selector tells
    // us it is inline.
    .oj-label-inline label {
        @include oj-bidi-property($property: 'float', $startOrEnd: end);
    }
    
    // When labels are inline with the field, the alta spec says the
    // icons (required, help) come before the label. 
    // We float to achieve this. The oj-label-inline selector tells
    // us it is inline.
    .oj-label-inline .oj-label-required-icon,
    .oj-label-inline .oj-label-help-icon
    {
      @include oj-bidi-property($property: 'float', $startOrEnd: start);
      @include oj-ltr {
         margin-right: 6px;
         margin-left: 0;
      }
      @include oj-rtl(){
        margin-left: 6px;
        margin-right: 0;
      }
    }

    .oj-label-inline-top {
      margin-top: 0;
    }

    .oj-label-accesskey {
      text-decoration: underline;
    }
    
    // the alta spec says to underline the label when there is help definition
    .oj-label-help-def {
      border-bottom: 2px dotted $helpBorderColor;
    }
  }
}