// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// WARNING: do not directly import this file, instead import the 
//          version in your base theme's directory, 
//          for example alta/widgets/_oj.alta.icons.scss
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

@import "../../utilities/oj.utilities";



@if $includeIconClasses != false {
  @include exports("common.icons") {

    /* Icons
    --------------------------------------------------------------------*/
    
    /*--------------------------------------------------------------------
    /  Generic style that can be used for images 
    /  App developers can use the mixin ("oj-icon-content") to generate 
    /  a class with additions/overrides
    / 
    /  For example let's say you used the mixin ("oj-icon-content") to 
    /  generate a class ".binky-icon". You
    /  could then put class="oj-icon binky-icon" on your dom element. 
    --------------------------------------------------------------------*/
    // todo: use rem?
    .oj-icon {
      @include oj-icon-base(                         
           $height: 16px,                                               
           $width:  16px);       
    }                              
     


    a .oj-clickable-icon,
    a.oj-clickable-icon,
    a:visited .oj-clickable-icon,
    a:visited.oj-clickable-icon,
    .oj-enabled .oj-clickable-icon,
    .oj-enabled.oj-clickable-icon {
      color: $iconColorEnabled;
      // needed when clickable on an anchor tag
      font-weight: normal;
      // needed when not in an anchor
      cursor: pointer;
    }

    a:hover .oj-clickable-icon,
    a:hover.oj-clickable-icon,
    .oj-hover .oj-clickable-icon,
    .oj-hover.oj-clickable-icon{
      color: $iconColorHover;
    }

    a:active .oj-clickable-icon,
    a:active.oj-clickable-icon,
    .oj-active .oj-clickable-icon,
    .oj-active.oj-clickable-icon{
      color: $iconColorActive;
    }

    a.oj-checked .oj-clickable-icon,
    a.oj-checked.oj-clickable-icon,
    .oj-checked .oj-clickable-icon,
    .oj-checked.oj-clickable-icon {
      color: $iconColorChecked;
    }

    a.oj-disabled .oj-clickable-icon,
    a.oj-disabled.oj-clickable-icon,
    .oj-disabled .oj-clickable-icon,
    .oj-disabled.oj-clickable-icon{
      color: $iconColorDisabled;
      opacity: $opacityDisabled;
      cursor: default;
    }

  }
}


