@import "../../utilities/oj.utilities";

@if $includeWindowsClasses != false {
  @include exports("common.windows") {

    /* Overlays */
    .oj-widget-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #aaaaaa oj-image-url("ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; // TODO: do we want to use background images? var for color?
        opacity: .3;
        filter:Alpha(Opacity=30); 
    }
    .oj-widget-shadow { 
        margin: -8px 0 0 -8px; 
        padding: 8px; 
        background: #aaaaaa oj-image-url("ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; // TODO: do we want to use background images? var for color?
        opacity: .3;
        filter:Alpha(Opacity=30); 
        border-radius: 8px; 
    }



    // todo: getting rid of ui- classes jan 15 2014
    /* Overlays */
    .ui-widget-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #aaaaaa oj-image-url("ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; // TODO: do we want to use background images? var for color?
        opacity: .3;
        filter:Alpha(Opacity=30); 
    }
    .ui-widget-shadow { 
        margin: -8px 0 0 -8px; 
        padding: 8px; 
        background: #aaaaaa oj-image-url("ui-bg_flat_0_aaaaaa_40x100.png") 50% 50% repeat-x; // TODO: do we want to use background images? var for color?
        opacity: .3;
        filter:Alpha(Opacity=30); 
        border-radius: 8px; 
    }
  }
}