@import "../../utilities/oj.utilities";

$includeRowExpanderClasses:   $includeAllClasses !default;
// todo: is this being used?

// include dependencies
@if $includeRowExpanderClasses != false {
  $includeIconClasses: true !global;
}

@import "../../common/helpers/oj.common.helpers"; 
@import "oj.alta.core.icons";

@if $includeRowExpanderClasses != false {
  @include exports("rowexpander") {

    .oj-rowexpander{
		width:14px;
		height:14px;
        display:inline-block;
        position:relative;
    }

    .oj-rowexpander-expand-icon{
        @include oj-ltr() {
            @extend .oj-fwk-icon-arrow-e;  
            right:0;
        }

        @include oj-rtl() {    
            @extend .oj-fwk-icon-arrow-w;  
            left:0;        
        }    
        position: absolute;

    }

    .oj-rowexpander-collapse-icon {
        @include oj-ltr() {
            @extend .oj-fwk-icon-arrow-se;  
            right:0;
        }

        @include oj-rtl() {    
            @extend .oj-fwk-icon-arrow-sw;  
            left:0;        
        }    
        position: absolute;
    }

    .oj-rowexpander-leaf-icon {
        @include oj-ltr() {
            right:0;
        }

        @include oj-rtl() {    
            left:0;        
        }    
        position: absolute;
    }
  }
}