@import "../../utilities/oj.utilities";

$includeMenuClasses: $includeAllClasses !default;

// include dependencies
@if $includeMenuClasses != false {
  $includeIconClasses: true !global;
}

@import "../../common/helpers/oj.common.helpers"; 
@import "oj.alta.icons";


@if $includeMenuClasses != false  {
  @include exports("menu") {

    /* menu */
    /* --------------------------------------------------------------- */
    
    .oj-menu {
        color: $textColor; 
        // todo: we have $window vars available, should menu use those?
        border: 1px solid $border3Color;
        background: $background1Color;
        list-style: none;
        padding: 1px 0;
        margin: 0;
        display: inline-block; 
        box-shadow: $smallBoxShadow;
        font-size: $fontSize;
        white-space: nowrap;
    }
    .oj-menu:focus {
        outline:none; // e.g. Chrome adds bright yellow outline to focused element
    }
    .oj-menu .oj-menu { 
        margin-top: -0.250em; // i.e. -3px. tweak submenu position.  Works well in regular and Giant demo.  TODO: why do we need this?  Is JQ's position() API buggy?
        position: absolute; 
    }
    .oj-menu-item { 
        margin: 0; 
        padding: 0; 
        width: 100%; 
    }
    .oj-menu-divider {
        margin: 0.083rem;  // 1px spacing on all 4 sides, including left/right, per spec.  rem not em since font-size 0.
        height: 0;
        font-size: 0;
        line-height: 0;
        border-width: 1px 0 0 0;
        border-color: $border3Color;
        border-style: solid;
    }
    .oj-menu-item a { 
        // relative positioning is needed here so that if 
        // you use an icon it can be positioned relative to the 
        // anchor, see the absolutely positioned 
        // style below for the menu item image
        position: relative;
        text-decoration: none; 
        display: block; 
        line-height: 2.5;
        min-height: 0; // support: IE7.  TODO: IE7 comment must have come from JQUI; can we remove min-height?
        font-weight: normal; 
        color: $primaryTextColor;
    }
    html:not([dir="rtl"]) .oj-menu-item a {
        padding: 0.083em 1.75em 0.083em 2.5em; // i.e. 1px 21px 1px 30px.
    }
    html[dir="rtl"] .oj-menu-item a {
        padding: 0.083em 2.5em 0.083em 1.75em ; // i.e. 1px 30px 1px 21px.
    }
    .oj-menu-item a.oj-focus,
    .oj-menu-item a.oj-active {
        font-weight: normal; 
        margin: 0;
        background: $interaction2Color;
        border: 0;
    }

    .oj-menu.oj-disabled {
        font-weight: normal; 
        margin: 0;
    }
    .oj-menu.oj-disabled .oj-menu-item a,
    .oj-menu-item.oj-disabled a {  
        cursor: default; 
        color: $textColorDisabled; 
    }


    /* left-hand-side icons */
    .oj-menu-item-icon { 
        position: absolute; // align relative to the <a>, since ".oj-menu-item a" is relatively positioned
        top: 0.583em; // i.e. 7px = (30-16)/2.  offsetParent is <a>, which is 30px tall per spec.  Icon is 16px tall, and s/b vertically centered.
    }
    html:not([dir="rtl"]) .oj-menu-item-icon {
        left: 0.583em; // i.e. 7px, from spec.  Same math as for top, since spec says the icons s/b center-alighed in a 30px "column".
    }
    html[dir="rtl"] .oj-menu-item-icon {
        right: 0.583em; // see LTR comment
    }


    /* submenu icon*/
    .oj-menu-submenu-icon { 
        position: absolute; 
        line-height: 2.5;
        height: auto;
        
        // Spec says submenu icon is 16px wide, and in its illustration the icon is small
        // within the 16px space.  oj-widget-icon makes the width 1.34rem = 16px as 
        // desired, and this 1rem font size makes the icon small within the 16px space as 
        // desired.  Without this line the icon subjectively looks huge.
        font-size: 1rem; // override oj-widget-icon's 1.34rem, making the icon 12px not 16.  
    }
    html:not([dir="rtl"]) .oj-menu-submenu-icon { 
        right: 0; // end-aligned per spec
    }
    html[dir="rtl"] .oj-menu-submenu-icon { 
        left: 0;
    }

    html:not([dir="rtl"]) .oj-menu-submenu-icon:before {
      @extend .oj-fwk-icon-arrow-e:before; // icon font
    }
    html[dir="rtl"] .oj-menu-submenu-icon:before {
      @extend .oj-fwk-icon-arrow-w:before; // icon font
    }
  }
}