@import "../../utilities/oj.utilities";

$includePopupClasses:  $includeAllClasses !default;

@import "../../common/helpers/oj.common.helpers"; 

@if $includePopupClasses != false {
  @include exports("popup") {
    /* popup */
    /* --------------------------------------------------------------- */

    .oj-popup {
      border: $borderWidth solid $border3Color;
      z-index: 2;
      position:absolute;
      border-radius: $smallBorderRadius;
      background-color: $background2Color;
      box-shadow: $mediumBoxShadow;
    }
    .oj-popup-no-chrome {
      border-width: 0;
      box-shadow: none;
      border-radius: 0;
    }  
    .oj-popup-content {
      padding: 10px;
    }
    .oj-popup-tail {
      position: absolute;
      pointer-events: none;
    }
    .oj-popup-tail-simple {
      height: 13px;
      width: 14px;
      background-position: center center;
      background-color: transparent;
      background-repeat: no-repeat;
    }
    .oj-popup-tail-simple-start-top, .oj-popup-tail-simple-start-middle, .oj-popup-tail-simple-center-top {
      top:0;
      left:-14px;
	  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAZklEQVQoU43RsQ6AMAgE0Pv/39LZuDmZLv4EE5ahpFHgOtzGu6aA/bh0Craz0agqYMOG7vboakmfdehYRGhJn4E//cUjUYlDhqOS36cZHgk3toLTdTNc3qrCKWS4hBWmMMMURdjyAhXCJGsoKfTHAAAAAElFTkSuQmCC);
    }
    .oj-popup-tail-simple-start-middle {
      top:50%;
    }
    .oj-popup-tail-simple-start-bottom {
      bottom:0;
      left:-14px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAV0lEQVQokZ3RMQ4AEAyF4d7/XGarSSwu0alCIlF5Wgxvkf8bGiQi9LIQk+RS/xAz/6FruKMriJALT8iEFjpCD0Foof4O/xGhGS8bHUR7jM5RyIsVfInXNbifVqg9Iea7AAAAAElFTkSuQmCC);
    }
    .oj-popup-tail-simple-end-top, .oj-popup-tail-simple-end-middle, .oj-popup-tail-simple-center-bottom {
      top:0;
      right:-14px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAY0lEQVQoU5XRIRLAIAxE0b3/tUAzOFQnppdYtVUIaBJase4/k6B0w9fVNjT3K77sVm1DkgCSr+0xyQUt0IvndiQJiOIMlW6AF59QCjMUwhNyoYdI5jBCKcxQCE/IhfOP2SG8PZAPN99zpHp2AAAAAElFTkSuQmCC);
    }
    .oj-popup-tail-simple-end-middle {
      top:50%;
    }
    .oj-popup-tail-simple-end-bottom {
      bottom:0;
      right:-14px;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAANCAYAAACZ3F9/AAAAaUlEQVQoU53PMQ7AIAgFUO5/rXY23To1Ll6CiYYfaVJLIzgQjfg+SldtspdTi7ajhouYWVYw4Ap+YBa/YAZ/YBS7MIJ/4QyTNXXNYJ1IetibboiHAUUE1QPckBHrU7ExPAsxjEvjxyMhNzVRJMfPJwiCAAAAAElFTkSuQmCC);
    }  
  }
}