@import "../../utilities/oj.utilities";

$includeTabsClasses: $includeAllClasses !default;

// include dependencies
@if $includeTabsClasses != false {
  $includeIconClasses: true !global;
}

@import "../../common/helpers/oj.common.helpers"; 
@import "oj.alta.core.icons";

@if $includeTabsClasses != false {
  @include exports("tabs") {

    /* tabs */
    /* --------------------------------------------------------------- */
    /*
     * applied to the horizontal Tab
     * line-height is for the height of the Tab Bar
     */
    .oj-tabs-conveyor > .oj-tabs-nav > .oj-tabs-default,
    .oj-tabs > .oj-tabs-nav > .oj-tabs-default {
      line-height:2;
      list-style: none;
      position: relative;
      top: 0;
      margin: 0;
      font-size: $fontSize;
      font-family: $fontFamily;
      border: 0;
      border-top: 3px solid transparent;
      background-color: transparent;

      white-space: nowrap;
      display: inline-block;
    }

    /*
     * applied to the horizontal Tab
     */
    .oj-tabs-conveyor > .oj-tabs-nav,
    .oj-tabs > .oj-tabs-nav {
      white-space: nowrap;
    }

    /*
     * applied to the enabled Tab Title
     * display inline so the close icon is aligned with the title text
     */
    .oj-tabs-nav > .oj-tabs-default h3
    {
      display:inline;
      font-weight: normal;
    }

    /*
     * Tab Title text
     */
    .oj-tabs-nav > .oj-tabs-default .oj-tabs-anchor {
      font-weight: normal;
      text-decoration: none;
      cursor: pointer;
      color: $linkTextColor;
      outline:none;
    }

    /*
     * applied to the selected Tab Title
     */
    .oj-tabs-nav > .oj-tabs-default.oj-tabs-active .oj-tabs-anchor {
      font-weight: bold;
    }

    /*
     * applied to the Tab Title when it's hovered
     */
    .oj-tabs-nav > .oj-tabs-default.oj-hover .oj-tabs-anchor {
      text-decoration: underline;
    }


    /*
     * applied to the disabled Tab Title
     */
    .oj-tabs-nav > .oj-tabs-default.oj-disabled .oj-tabs-anchor {
      color: $textColorDisabled;
      cursor: text;
    }


    /*
     * applied to the panel body
     */
    .oj-tabs-panel {
      display: block;
      padding: 1em;
      color: $textColor;
      background-color: $background1Color;
      border: $borderWidth solid $border1Color;
      border-radius: $largeBorderRadius;
      margin-top: -1px;
    }

    /*
     * applied to the tabs
     */
    .oj-tabs {
      position: relative;
      /* position: relative prevents IE scroll bug 
    (element with position: relative inside container with overflow: auto appear as "fixed")
       */
      padding: 0;
      background-color: transparent;
      border: 0;
/*      display: table; */
    }


    /*
     * applied to the horizontal tab when it is NOT selected
     */
    .oj-tabs-nav > .oj-tabs-default > .oj-tabs-tab-content {
      white-space: nowrap;
      padding-top: 4px;
      padding-right: 8px;
      padding-bottom: 4px;
      padding-left: 8px;

      border-top: 0;
      border-bottom: 0;
      border-right: 1px solid transparent;
      border-left: 1px solid transparent;
    }


    /*
     * applied to the horizontal tab when it is selected
     */
    .oj-tabs-conveyor > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active > .oj-tabs-tab-content,
    .oj-tabs > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active > .oj-tabs-tab-content {
      border-right-color: $border3Color;
      border-left-color: $border3Color;
    }

    .oj-tabs-conveyor > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active,
    .oj-tabs > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active {
      border-top-color: $interaction1Color;
      background-color: $background1Color;
      z-index:1;
    }


    /* close icon for tabs */
    /* -----------------------------*/

    .oj-tabs-close-icon:before {
      @extend .oj-fwk-icon-cross:before;
    }

    /*
     * close icon style
     */
    .oj-tabs-close-icon {
      text-align: center;
      overflow: hidden;

      vertical-align: middle;
      cursor: pointer;
      font-size: 0.75rem;

      @include oj-ltr() {
        margin-left: 6px;
      }
      @include oj-rtl() {
        margin-right: 6px;
      }
    }

    .oj-tabs-vertical > .oj-tabs-nav > .oj-tabs-default .oj-tabs-close-icon {
      @include oj-ltr() {
        float: right;
      }
      @include oj-rtl() {
        float: left;
      }
    }

    /* vertical tabs */
    /* --------------------------------------------------------------- */

    .oj-tabs-vertical {
      background-color: transparent;
    }

    /*
     * applied to the vertical Tab bar
     */
    .oj-tabs-vertical > .oj-tabs-nav {
      padding-top: 15px;
    //  width: set in javascript

      @include oj-ltr() {
        float: left;
      }
      @include oj-rtl() {
        float: right;
      }
    }


    /*
     * applied to the vertical Tab
     */
    .oj-tabs-vertical > .oj-tabs-nav > .oj-tabs-default {
      line-height:2;
      list-style: none;
      position: relative;
      top: 0;
      margin: 0;
      white-space: nowrap;
      border: 0;
      font-size: $fontSize;
      font-family: $fontFamily;
      background: transparent;

      @include oj-ltr() {
        float: left;
        clear: left;
      }
      @include oj-rtl() {
        float: right;
        clear: right;
      }
    }

    /*
     * applied to the vertical tab when it is NOT selected
     */
    .oj-tabs-vertical > .oj-tabs-nav > .oj-tabs-default > .oj-tabs-tab-content {
      border-right: 0;
      border-left: 0;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    .oj-tabs-vertical > .oj-tabs-nav > .oj-tabs-default {
      border-top: 0;
      background-color: transparent;
      @include oj-ltr() {
        left: 0;
        border-left: 3px solid transparent;
      }
      @include oj-rtl() {
        right: 0;
        border-right: 3px solid transparent
      }
    }


    /*
     * applied to the vertical tab when it is selected
     */
    .oj-tabs-vertical > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active:before {
      content: ".";
      font-size: 0;
      position: absolute;
    }

    .oj-tabs-vertical > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active > .oj-tabs-tab-content {
      border-top-color: $border3Color;
      border-bottom-color: $border3Color;
    }

    .oj-tabs-vertical > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active {
      background-color: $background1Color;
      z-index:1;

      @include oj-ltr() {
        border-left-color: $interaction1Color;
      }
      @include oj-rtl() {
        border-right-color: $interaction1Color;
      }
    }


    /*
     * applied to the body of vertical tabs
     */
    .oj-tabs-vertical > .oj-tabs-panel {
      position:relative;
      margin-top: 0;
    // min-height and margin-left(or margin-right): set in javascript
    }


    /* vertical tabs when all tabs have a title icon */
    /* --------------------------------------------------------------- */

    /*
     * applied to the vertical Tab
     */
    .oj-tabs-vertical.oj-tabs-icons-only > .oj-tabs-nav > .oj-tabs-default {
      background-color: $background4Color;
      @include oj-ltr() {
        left: 0;
        border-left: $borderWidth solid $border1Color;
      }
      @include oj-rtl() {
        right: 0;
        border-right: $borderWidth solid $border1Color;
      }
    }

    .oj-tabs-vertical.oj-tabs-icons-only > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active {
      background-color: $background1Color;
    }

    .oj-tabs-vertical.oj-tabs-icons-only > .oj-tabs-nav > .oj-tabs-default.oj-tabs-active.oj-hover {
      background-color: $background4Color;
    }

    .oj-tabs-vertical.oj-tabs-icons-only > .oj-tabs-nav > .oj-tabs-default > .oj-tabs-tab-content {
      padding: 8px;
      border-top: 0;
      border-bottom: 0;
    }

    /*
     * The first Tab in a tabs 
     * display all borders and put radius on top border
     */
    .oj-tabs-vertical.oj-tabs-icons-only > .oj-tabs-nav > .oj-tabs-default:first-child {
      border: $borderWidth solid $border1Color;
      @include oj-ltr() {
        border-top-left-radius: $mediumBorderRadius;
        border-right:0;
      }
      @include oj-rtl() {
        border-top-right-radius: $mediumBorderRadius;
        border-left:0;
      }
    }

    /*
     * The middle Tabs in a tabs 
     * display bottom and left borders and without any radius
     */
    .oj-tabs-vertical.oj-tabs-icons-only > .oj-tabs-nav > .oj-tabs-default {
      margin-top: 0; 
      border: $borderWidth solid $border1Color;
      border-top: 0;
      @include oj-ltr() {
        border-right:0;
      }
      @include oj-rtl() {
        border-left:0;
      }
    }

    /*
     * The last Tab in a tabs 
     * display bottom and left borders and put radius on bottom border
     */
    .oj-tabs-vertical.oj-tabs-icons-only > .oj-tabs-nav > .oj-tabs-default:last-child {
      @include oj-ltr() {
        border-bottom-left-radius: $mediumBorderRadius;
        border-right:0;
      }
      @include oj-rtl() {
        border-bottom-right-radius: $mediumBorderRadius;
        border-left:0;
      }
    }
  }
}
