@import "../../utilities/oj.utilities";

$includeToolbarClasses: $includeAllClasses !default;

@import "../../common/helpers/oj.common.helpers"; 

@if $includeToolbarClasses != false {
  @include exports("toolbar") {

    /* toolbar*/
    /* --------------------------------------------------------------- */
    
    .oj-toolbar {
        // padding-top/bottom from spec was replaced with top/bottom margin in ".oj-toolbar .oj-button" so that 
        // when toolbar wraps, the buttons have a little vertical spacing between them.
        padding-left: 0.833em; // 10px in spec
        padding-right: 0.833em; // 10px in spec
    }

    // todo: review with Gab
    // We use .oj-toolbar .oj-button, even though toolbar might support more than just buttons in the future, because:
    // - If we use .oj-toolbar .oj-widget, then when toolbar contains a buttonset, it's too tall bacause both the 
    //   buttonset and its buttons get this margin.  Then toolbar contents like a separator look too short.
    // - Using .oj-toolbar>.oj-widget, to avoid that problem, is undesirable because we prefer to avoid child selectors, 
    //   and because it fails to override .oj-button's bottom margin, for which we'd need another rule.
    // - We're likely to need similar fine control over future toolbar contents, e.g. in similar cases of nested containers.  
    //   And Toolbar is likely to always have an explicit whitelist of contents that it supports, for focus management purposes.
    //   So it makes sense to itemize the descendant components via specific selectors like .oj-toolbar .oj-button.
    .oj-toolbar .oj-button {
        // See padding/margin comment in .oj-toolbar
        margin-top: 0.250em; // 3px in spec
        margin-bottom: 0.250em; // 3px in spec
    }

    /* Apps can apply this class to a span to get a toolbar separator.  To make it accessible, the span should also have 
     * role="separator" aria-orientation="vertical".
     */
    .oj-toolbar-separator {
        border-left: solid 1px $toolbarBorderColor; 
        height: 1.833em; // spec says 22px
        display:inline-block; 
        vertical-align:middle;

        // spec says padding left/right 6px, but inline-block gives ~4px for free, so use 2px.
        // has to be margin, not padding, since the border is the separator.
        margin-left: 0.167em; // equals 2px. see above
        margin-right: 0.167em; // equals 2px. see above.
    }

    /* Apps can apply this class if a top toolbar border is desired */
    .oj-toolbar-top-border {
        border-top: 1px solid $toolbarBorderColor;
    }

    /* Apps can apply this class if a bottom toolbar border is desired */
    .oj-toolbar-bottom-border {
        border-bottom: 1px solid $toolbarBorderColor;
    }

    .oj-toolbar-row .oj-toolbar {
      display: inline-block;
    }


    .oj-toolbar-row .oj-toolbar + .oj-toolbar {
      @include oj-ltr()
      {
        border-left: 1px solid $toolbarBorderColor;
      }
      @include oj-rtl()
      {
        border-right: 1px solid $toolbarBorderColor;
      }
    }

    .oj-toolbar-row + .oj-toolbar-row {
      border-top: 1px solid $toolbarBorderColor;
    }
  }
}
 
