@import "../../utilities/oj.utilities";

$includeNoteWindowClasses:  $includeAllClasses !default;

@if $includeNoteWindowClasses != false  {
  @include exports("notewindow") {

    /* tooltip */
    /* --------------------------------------------------------------- */

    .ui-tooltip {
      @include ui-widget-content;
      @include ui-corner-all;
    	padding: 8px;
    	position: absolute;
    	z-index: 9999;
    	max-width: 300px;
    	box-shadow: 0 0 5px #aaa;
    }
    body .ui-tooltip {
    	border-width: 2px;
    }

  }
}