@import "../../utilities/oj.utilities";

$includeInputNumberClasses:   $includeFormControlClasses !default;

// include dependencies
@if $includeInputNumberClasses != false {
  $includeIconClasses:              true !global;
  $includeNoteWindowClasses:        true !global;
  $includeButtonClasses:            true !global;
  $includeLabelClasses:             true !global;
  $includeMessagingClasses:         true !global;
  $includeFormControlCommonClasses: true !global;
}

@import "../../common/helpers/oj.common.helpers"; 
@import "oj.jq.core.icons";
@import "oj.jq.tooltip";
@import "oj.jq.button";
@import "oj.jq.core.messaging";
@import "oj.jq.formcontrol.label";
@import "oj.jq.formcontrol.common";


// most of the styling in common file
@import "../../common/widgets/oj.common.formcontrol.inputnumber";

@if $includeInputNumberClasses != false  {
  @include exports("inputnumber") {

    // icons
    //------------------------------------------

    .oj-inputnumber-up-icon:before {
      @extend .oj-fwk-icon-arrow-n:before;
    }

    .oj-inputnumber-down-icon:before {
      @extend .oj-fwk-icon-arrow-s:before;
    }       
  }
}