/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-3-26, 15:31:11
    Author     : danfjian
*/
/* line 11, D:\GitHub\prototype\src\public_html\less\chart-list.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/GitHub\/prototype\/src\/public_html\/less\/chart-list\.less}line{font-family:\0000311}}
#add-chart {
  width: 400px;
  height: 247px;
  border: 2px solid silver;
  background: url('../images/add.svg') center no-repeat;
  cursor: pointer;
}
/* line 19, D:\GitHub\prototype\src\public_html\less\chart-list.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/GitHub\/prototype\/src\/public_html\/less\/chart-list\.less}line{font-family:\0000319}}
#timeseries-container {
  display: none;
}
/* line 25, D:\GitHub\prototype\src\public_html\less\chart-list.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/GitHub\/prototype\/src\/public_html\/less\/chart-list\.less}line{font-family:\0000325}}
.chart-list > div {
  border: 2px solid silver;
  display: inline-block;
  width: 400px;
  height: 247px;
  margin: 5px;
  vertical-align: top;
}
/* line 36, D:\GitHub\prototype\src\public_html\less\chart-list.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/GitHub\/prototype\/src\/public_html\/less\/chart-list\.less}line{font-family:\0000336}}
.chart-list .region .rollup-table {
  height: 100%;
  width: 29%;
  float: left;
}
/* line 42, D:\GitHub\prototype\src\public_html\less\chart-list.less */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/GitHub\/prototype\/src\/public_html\/less\/chart-list\.less}line{font-family:\0000342}}
.chart-list .region .chart {
  height: 100%;
  width: 70%;
  float: left;
}
