/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 28, 2014, 3:41:07 PM
    Author     : phzhou
*/
.worksheet {
  padding: 10px;
  height: 100%;
}
.worksheet .worksheet-search-header {
  display: inline-block;
}
.worksheet #searchForm {
  display: none;
}
.worksheet #show-search-worksheet {
  font-size: medium;
  font-weight: bold;
}
.worksheet #worksheet-menu {
  z-index: 100;
}
.worksheet .worksheet-list {
  right: 0;
}
.worksheet .worksheet-table {
  white-space: nowrap;
  right: 0;
  width: 100%;
}
.worksheet .worksheet-table .worksheet-table-column3 {
  width: 300px;
  white-space: nowrap;
  background-color: red;
}
